.blog_home {
  background-color: var(--primary-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  gap: 1rem;
}

.blog_headerimg {
  width: 100%;
  height: auto;
}

.blog_headerimg img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.blog_headerimg img:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.blog_header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  gap: 2rem;
}

.blog_header h1 {
  font-weight: 700;
  font-size: 5rem;
}

.blog_header h3 {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .blog_home {
    padding: 2rem;
  }
  .blog_header h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .blog_home {
    flex-direction: column;
    padding: 1rem;
  }
  .blog_header {
    gap: 1rem;
  }
  .blog_header h1 {
    font-size: 3rem;
  }
  .blog_header h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 580px) {
  .blog_header h3 {
    font-size: 1rem;
  }
  .blog_header h1 {
    font-size: 2rem;
  }
  .blog_header p {
    font-size: small;
  }
  .blog_header button {
    padding: 4px 8px;
  }
  .blog_headerimg {
    width: 85%;
  }
}

@media (max-width: 380px) {
  .blog_header {
    gap: 0.5rem;
  }
  .blog_header h1 {
    font-size: 1.5rem;
  }
}
