.popularPost {
  background-color: white;
  padding: 2rem 5rem;
}
.popularPost_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popularPost_heading h1 {
  font-weight: 700;
}

.popularPost_heading button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
}
.popularPost_postContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
  width: 100%;
  height: calc(100% - 4rem);
  margin-top: 3rem;
  align-items: start;
}

.popularPost_postContainer .postContainer_container {
  flex-direction: column;
}

@media (max-width: 1200px) {
  .popularPost {
    padding: 2rem;
  }

  .popularPost_heading h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .popularPost {
    padding: 1rem;
  }
  .popularPost_heading h1 {
    font-size: 1.5rem;
  }
  .popularPost_heading button {
    padding: 8.5px 20.5px;
  }

  .popularPost_postContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .popularPost_postContainer {
    margin-top: 1rem;
  }
  .popularPost_heading h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .popularPost_heading h1 {
    font-size: 1rem;
  }
  .popularPost_heading button {
    padding: 4px 8px;
  }
}
