.popularPost {
  background-color: white;
  min-height: 100vh;
  padding: 2rem 5rem;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}
.popularPost_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popularPost_heading h1 {
  font-weight: 700;
}

.popularPost_heading button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
}
.popularPost_postContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
  width: 100%;
  height: calc(100% - 4rem);
  margin-top: 3rem;
  align-items: start;
}

.popularPost_postContainer .postContainer_container {
  flex-direction: column;
}
