.recentPosts {
  background-color: white;
  padding: 2rem 5rem;
}

.recentPosts_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recentPosts_heading h1 {
  font-weight: 700;
}

.recentPosts_heading button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.recentPosts_postContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;
  height: calc(100% - 4rem);
  margin-top: 3rem;
}

.recentPosts_post:first-child {
  grid-column: 1/2;
}

.recentPosts_post:nth-child(n + 2) {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: start;
}

.recentPosts_post:nth-child(n + 2) .postContainer_container {
  flex-direction: column;
}

.recentPosts_post:first-child .postContainer_container img {
  height: auto;
  max-height: 50vh;
}
.recentPosts_postContainer .small-screen {
  display: none;
}
@media (max-width: 1200px) {
  .recentPosts {
    padding: 2rem;
  }

  .recentPosts_heading h1 {
    font-size: 2rem;
  }
  .recentPosts_heading button {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .recentPosts {
    padding: 1rem;
  }
  .recentPosts_postContainer {
    margin-top: 1rem;
  }
  .recentPosts_post:first-child .postContainer_container img {
    height: auto;
    max-height: 30vh;
  }
  .recentPosts_post:nth-child(n + 2) .postContainer_container img {
    max-height: 140px;
  }
  .recentPosts_post:nth-child(n + 2) .postContainer_container h1 {
    font-size: 1rem;
  }
  .recentPosts_heading button {
    padding: 8.5px 20.5px;
  }
}

@media (max-width: 580px) {
  .recentPosts_heading h1 {
    font-size: 1.5rem;
  }
  .postContainer_container {
    gap: 1rem;
  }
}

@media (max-width: 380px) {
  .recentPosts {
    padding: 1rem 0.5rem;
  }
  .recentPosts_heading h1 {
    font-size: 1rem;
  }
  .recentPosts_heading button {
    padding: 4px 8px;
  }
  .recentPosts_postContainer {
    margin-top: 0.5rem;
    gap: 1rem;
  }
  .recentPosts_post:first-child .postContainer_container img {
    max-width: 20vh;
  }

  .recentPosts_postContainer .large-screen {
    display: none;
  }
  .recentPosts_postContainer .small-screen {
    display: grid;
  }
  .recentPosts_post:nth-child(n + 2) {
    grid-template-columns: repeat(2, 1fr);
  }
}
