.postContainer_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.postContainer_container img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}

.postContainer_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.postContainer_details_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.postContainer_details_text p span {
  font-weight: 800;
}

.postContainer_details_text h1 {
  font-weight: 700;
}
.postContainer_details_text p {
  text-align: justify;
}

@media (max-width: 1200px) {
  .postContainer_details_text h1 {
    font-size: 2rem;
  }

  .postContainer_details_text p {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .postContainer_details_text h1 {
    font-size: 1.5rem;
  }
  .postContainer_details_text p {
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}
