.navbar {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  color: #333;
  align-items: center;
  padding: 1rem 2rem;
}
.navbar-logo {
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
}
.navbar-logo_text {
  text-decoration: none;
}
.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.navbar-item {
  list-style: none;
  cursor: pointer;
}

.navbar-item a {
  text-decoration: none;
  font-size: 20px;
}
.contactUs_btn {
  background-color: var(--primary-color);
  color: #fff;
}
.contactUs_btn a {
  color: #fff;
}
link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}
