.navbar {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  color: #333;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}
.navbar-logo {
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
}
.navbar-logo_text {
  text-decoration: none;
}
.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.navbar-item {
  list-style: none;
  cursor: pointer;
}

.navbar-item a {
  text-decoration: none;
  font-size: 20px;
}
.contactUs_btn {
  background-color: var(--primary-color);
  color: #fff;
}
.contactUs_btn a {
  color: #fff;
}
link {
  text-decoration: none;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-list.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 100%;
  padding: 0;
  padding-bottom: 0.5rem;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}

@media (max-width: 580px) {
  .navbar-list {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .navbar-logo {
    font-size: 20px;
    font-weight: 700;
  }
  .contactUs_btn {
    padding: 4px 8px;
  }
}

@media (max-width: 380px) {
  .navbar {
    padding: 0.5rem;
  }
}
