.highlight {
  /* background-color: #ffffff; */
  background-color: var(--secondary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  margin-top: 1rem;
}

.highlight_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;

}

.highlight_img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.highlight_details {
  width: 80%;
  /* background-color: #ffffff; */
  color: var(--text-color-1);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: 1px solid rgba(224, 224, 224, 0.266);
}

.highlight_details_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.highlight_details_paratext{
  font-size: 1.2rem;
}

.highlight_details_text p span {
  font-weight: 800;
}

.highlight_details_text h1 {
  font-weight: 700;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .highlight {
    padding: 2rem;
  }
  .highlight_details {
    padding: 1rem;
    gap: 1rem;
  }

  .highlight_details_text h1 {
    font-size: 2rem;
  }
  .highlight_details_text p {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .highlight {
    padding: 2rem;
  }
  .highlight_container {
    flex-direction: column;
    gap: 1rem;
  }
  .highlight_details {
    position: static;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .highlight_details_text h1 {
    font-size: 1.5rem;
  }
  .highlight_details_text p {
    font-size: small;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 580px) {
  .highlight {
    padding: 1rem 0.5rem;
  }
  .highlight_img {
    width: 80%;
  }
}
