@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

button {
  padding: 8.5px 20.5px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
}

a {
  color: #333;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 580px) {
  .mainContainer {
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 380px) {
  .mainContainer {
    padding: 0;
  }
}
