:root {
  --primary-color: #7c4ee4;
  --secondary-color-2: #C0ABF2;
  --secondary-color-1: #333333;
  --background-color: #ffffff;
  --text-color: #333333;
  --text-color-1:#000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-1);
}
